doctype 5
html(ng-app)
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/stylesheet.css")
		script(type="text/javascript", src="/js/angular.min.js")
		block head
	body
		div#container
			block content