body{
	padding-top: 50px;
}
.show-grid [class*="span"] {
	background-color: #eee;
}
.col_1,
.col_2,
.col_3,
.col_4 {
	display: inline;
	float: left;
	position: relative;
	margin: 4px 1% 4px 1%;
	min-height: 20px;
	outline: 1px solid #CCC
/*	
	text-align: justify;
*/
}

.col_1 {
	width: 23%;
}

.col_2 {
	width: 48%;
}

.col_3 {
	width: 73%;
}

.col_4 {
	width: 98%;
}

.colContent {
	padding: 1px;
}

.colContent:hover {
	border: 1px	solid #808080;
	padding: 0;
}

.colContent:hover .colActions {
	display: block;
}

ul.colActions {
	position: absolute;
	left: 0;
	top: 0;
	list-style: none;
	margin: -17px 0 0 0;
	padding: 0;
	display: none;
}

ul.colActions li {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
	background-color: #808080;
	float: left;
}

ul.colActions a {
	display: block;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	padding: 0 5px;
	line-height: 18px;
	color: #FFF;
}

a.save {
	color: #B6FF00 !important;
}