body {
	background-color: #CCC;
}

div#header {
	background-color: #404040;
	color: #CCC;
	font-size: 2em;
	line-height: 45px;
	border-bottom: 4px solid #F73;
}

div#header-inner {
	width: 978px;
	margin: 0px auto;
}

div#header a {
	padding: 0 10px;
	color: #CCC;
	text-decoration: none;
}

div#header a:hover,
div#header a:active {
	color: #FFF;
}

div#container {
	width: 978px;
	margin: 10px auto;
	background-color: #FFF;
	overflow: hidden;
	border: 1px solid #B3B3B3;
	border-top: none;
}

div#canvas {
	width: 670px;
	float: left;
}

div#canvas-inner {
	padding: 10px;
	overflow: hidden;
}

div#sidebar {
	float: left;
	width: 308px;
}

div#sidebar-inner {
	padding: 10px;
	overflow: hidden;
}

div#blocks {}

.col-1,
.col-2,
.col-3,
.col-4 {
	display: inline;
	float: left;
	position: relative;
	margin: 4px 1% 4px 1%;
	min-height: 100px;
	outline: 1px solid #CCC;
	background-color: #F2F2F2;
}

.col-1 {
	width: 23%;
}

.col-2 {
	width: 48%;
}

.col-3 {
	width: 73%;
}

.col-4 {
	width: 98%;
}

.col-content {
	margin: 0;
	padding: 5px;
}

.col-1:hover .col-actions,
.col-2:hover .col-actions,
.col-3:hover .col-actions,
.col-4:hover .col-actions {
	display: block;
}

ul.col-actions {
	position: absolute;
	list-style: none;
	margin: 0 0 0 -1px;
	padding: 0;
	display: none;
}

ul.col-actions li {
	display: inline-block;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #F2F2F2;
}

ul.col-actions li:last-child {
	border-right: 1px solid #CCC;
}

ul.col-actions li a {
	display: block;
	line-height: 24px;
	padding: 0 6px;
	font-size: 0.9em;
	text-decoration: none;
}

.col-text {
	width: 250px;
	height: 150px;
}