/* fonts */
@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/bebas___.eot');
    src: url('fonts/bebas___.eot') format('embedded-opentype'),
         url('fonts/bebas___.woff') format('woff'),
         url('fonts/bebas___.ttf') format('truetype'),
         url('fonts/bebas___.svg#BebasRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'RobotoSlabRegular';
    src: url('fonts/robotoslab-regular.eot');
    src: url('fonts/robotoslab-regular.eot') format('embedded-opentype'),
         url('fonts/robotoslab-regular.woff') format('woff'),
         url('fonts/robotoslab-regular.ttf') format('truetype'),
         url('fonts/robotoslab-regular.svg#RobotoSlabRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

#option-wrapper input[type="text"]{
	background: transparent;
	color:#999;
	border:0px;
	font-size:1em;
	width:100%;
	padding:11px 0px 10px 0px;
}
#option-wrapper input[type="text"]:hover, #option-wrapper select:hover{
	color:#fff;
}

#option-wrapper select{
	cursor:pointer;
	background:transparent;
	width: 150%;
	padding: 5px;
	line-height: 1;
	border: 0px;
	color:#999;
	-webkit-appearance: none;
}
#option-wrapper select:focus{
	outline:none;
}
#option-wrapper input[type="text"]:focus{
	outline:none;
}
.select-arrow{
	cursor:pointer;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/ui/icons/dropdown-arrow-icon.png) no-repeat center right 5px;
}
.select-arrow:hover{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/ui/icons/dropdown-arrow-hover-icon.png) no-repeat center right 5px;
}




*{ margin:0px; padding:0px; list-style:none; text-decoration:none; vertical-align:baseline; border:0px; }

body{
	background:#444;
	overflow-x:hidden;
}
	#header{
		position:fixed;
		top:0px;
		width:100%;
		background:#222;
		z-index:999;
		color:#fff;
		font-size:2em;
		font-family:'BebasRegular';

		/*-webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);*/
	}
		h1.header-title img{
			padding:0 20px;
		}
		h1.header-title{
			width:50%;
			color:#96bb49;
			padding:5px 0px;
			height:35px; 
		}

	#wrapper{
		width:960px;
		height:auto;
		margin:0px auto;
	}
		#workfield-container{
			float:left;
			width:710px;
			min-height:300px;
			background:#444;
			margin:60px 0px;
		}
			#blocks {
				background:#fff;
				margin:40px 20px 0px 20px;
				padding:10px 0px 10px 10px;
				width:670px;
				height:auto;
				display: block;
				-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
				overflow: hidden;
			}
					.buis-panel{
						cursor:pointer;
						position:absolute;
						width:157.5px;
						height:40px;
						bottom:-44px;
						right:-2px;
					}
						.buis-btn{
							float:left;
							font-family:'Georgia';
							text-align:center;
							font-size:1.4em;
							line-height:1.8em;
							width:25%;
							height:40px;
							color:#fff;
							background:#ccc;
							margin-right:2px;
						}
						.b{
							font-weight:bold;
						}
						.u{
							text-decoration:underline;
						}
						.i{
							font-style:italic;
						}
						.buis-btn:hover, .buis-btn:active{
							background:#96bb49;
						}



		#sidebar-container{
			position:fixed;
			top:0px;
			right:0px;
			width:235px;
			height:100%;
			background:#222;
			overflow-y:scroll;
			overflow-x:hidden;
			padding-right:30px;
			/*-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);*/
		}
		#sidebar-container p{
			float:right;
			width:220px;
			padding:10px;
			color:#fff;
			background:#96bb49;
			margin-bottom:4px;
		}
			#block-definition{
				position:fixed;
				top:45px;
				right:16px;
				width:249px;
				height:65px;
				background-color:#96bb49;
				background-position:left 20px center;
				text-align:center;
				z-index:999;
			}
				#block-definition h2{
					font-family:'Bebas';
					font-size:1.6em;
					color:#fff;
					line-height:2.5em;
					word-spacing:0.2em;					
				}

				#block-definition-bottomline{
					position:fixed;
					top:110px;
					right:16px;
					background:#96bb49;
					width:249px;
					height:3px;
					z-index:999;
					border-top:2px solid #222;
				}
				#option-wrapper{
					position:absolute;
					top:135px;
					width:250px;
					height:768px;
				}
					.option-container{
						cursor:pointer;
						float:right;
						width:220px;
						height:40px;
						background:#444;
						margin-bottom:4px;
						color:#999;
						padding-left:10px;
					}
					.option-container:hover, .option-container:active{
						width:230px;
						background:#777;
						color:#fff;
					}
						.option-definition{
							float:left;
							width:50%;
							font-family:'RobotoSlabRegular';
							font-size:0.8em;
							line-height:3.2em;
						}

	#trashcan-container{
		cursor:pointer;
		position:fixed;
		right:180px;
		top:55px;
		width:105px;
		height:105px;
	}	
		#trashcan{
			cursor:pointer;
			position:fixed;
			right:275px;
			top:55px;
			width:105px;
			height:105px;
			color:#999;
			border-radius:6px;
			background:url(../img/ui/icons/trashcan-icn-notactive.png) no-repeat top 20px center #333;
		}
		#trashcan:hover, #trashcan:active{
			color:#fff;
			background:url(../img/ui/icons/trashcan-icn-active.png) no-repeat top 15px center #e32d2d;
		}
		#trashcan-explanation{
			position:fixed;
			top:125px;
			width:105px;
			text-align:center;
			margin-bottom:5px;
			font-size:0.8em;
		}

div#blocks .col-1,
div#blocks .col-2,
div#blocks .col-3,
div#blocks .col-4 {
	display: inline;
	float: left;
	position: relative;
	margin: 5px 1%;
	min-height: 20px;
	/*text-align: justify;*/
}

.col-1 { width: 23%; }
.col-2 { width: 48%; }
.col-3 { width: 73%; }
.col-4 { width: 98%; }

div.block-text p,
div.block-list ul {
	padding: 5px;
	outline: 1px dashed #CCC;
	line-height: 130%;
}

div.block-list li {
	margin: 0 0 0 25px;
}

div.empty-block {
    outline: 2px solid #ccc;
	height: 153.5px;
	background: #fff;
}

div.empty-block:hover, .empty-block:active {
	outline: 2px solid #CCC;
}

.icon_selector{
    width:      134px;
    background: #efefef;
    display:    none;
    float:      left;
    height:		134px;
    padding:	10px;
}
    .more_icons{
        display:none;
    }
    .close_icon{
        position:absolute;
        right:2px;
        top:2px;
        background:url('../img/ui/icons/close_icon.png') no-repeat;
        width:18px;
        height:18px;
        cursor: pointer;
    }

    .icon{
        width:      63px;
        height:     63px;
        float:      left;
        display:    block;
        margin:     2px;
        cursor:     pointer;
    }
    .icon.block_image{
        background: url(../img/ui/icons/image-icn.png) top 10px center no-repeat #ccc;
    }
    .icon.block_text{
        background: url(../img/ui/icons/text-icn.png) top 10px center no-repeat #ccc;
    }
    .icon.block_list{
        background: url(../img/ui/icons/list-icn.png) top 10px center no-repeat #ccc;
    }
    .icon.block_more{
        background: url(../img/ui/icons/more-icn.png) top 10px center no-repeat #ccc;
    }    
    .icon:hover{
    	background-color:#96bb49;
    }

.plus_icon{
    display:        block;
    background:     url('../img/ui/icons/plus-icn.png') center center no-repeat;
    width:          100%;
    height:         100%;
    text-align: 	center;
    margin:         0 auto;
    cursor:         pointer;
}
	.plus_icon:hover{
		 background:     url('../img/ui/icons/plus-icn-active.png') center no-repeat;
	}

.add_more_blocks_button{
	position:fixed;
	bottom:10px;
	right:275px;
	width:80px;
	height:80px;
	background:url('../img/ui/icons/new-block.png') no-repeat;
}
.add_more_blocks_button:hover{
	background:url('../img/ui/icons/new-block-hover.png') no-repeat;
}

.increase, .decrease{
	width:50px;
	height:50px;
	background:#fff;
	float:left;
	margin-right:10px;
}

		