extends ../layout

block content
	.container
		.span12
			.span3.well
				include ../../mixins/user/profileInfo
			.span9.well
				h2 Documents
				#actionBar.pull-right
					a.btn.btn-success(href="javascript:;") New document
			
				p.clear-fix.well No documents to show...