extends ../layout

block content
	.span3.well
		include ../../mixins/user/profileInfo
	.span9.well
		h2 Documents
		#actionBar.pull-right
			a#newDocumentButton.btn.btn-success(href="#newDocumentModal", data-goggle="modal") New document
		p.clear-fix.well No documents to show...
		
	include ../../mixins/document/newDocumentModal