extends ../layout

block content
	.span3.well
		include ../../mixins/user/profileInfo
	.span9.well#dashboardDocuments
		h2 Documents
		#actionBar.pull-right
			a#newDocumentButton.btn.btn-success(href="#newDocumentModal", data-goggle="modal") New document
		
		ul.documentList
			each document in documents
				li.span4
					.thumbnail
						a.thumbnail(href="#")
							img(width="300px", height="200px", data-src="holder.js/300x200/gray")
						.caption
							h3 #{document.get('title')}
							p Hier eventueel een omschrijving
							p
								a.btn.btn-success(href="/document/manage/#{document.get('id')}") Manage
								&nbsp;
								a.btn(href="/document/edit/#{document.get('id')}") Edit
		
	include ../../mixins/document/newDocumentModal