extends ../layout

block content
	div#login.span5.offset3.well
		h1 Login
		form#login-form.form-horizontal(method="post")
			.control-group
				label.control-label(for="username") Username
				.controls
					input(name="username", type="text", placeholder="Username")
			.control-group
				label.control-label(for="password") Password
				.controls
					input(name="password", type="password", placeholder="password")
			.control-group
				.controls
					button.btn.btn-success(type="submit") Login
					&nbsp;
					a.submit.btn(href="#") Cancel
				