.control-group
	label.control-label(for="username") Username
	.controls
		input(name="username", type="text", placeholder="Username")
.control-group
	label.control-label(for="email") Email Address
	.controls
		input(name="email", type="email", placeholder="email@example.com")
.control-group
	label.control-label(for="password") Password
	.controls
		input(name="password", type="password", placeholder="Password")
	.controls
		input(name="confirmPassword", type="password", placeholder="Confirm Password")