doctype 5
html(ng-app)
	head
		title= pageTitle
		link(rel="shortcut icon", href="/favicon.png")
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.css")
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/jquery-ui.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type="text/javascript", src="/js/interface.js")
		script(type="text/javascript", src="/js/holder.js")
	body
	header
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				a.brand(href="/")
					img(src="/img/assets/logo.png")
				if user
					.login.pull-right
						a.btn.btn-success(href="/dashboard") Dashboard
						&nbsp;
						&nbsp;
						a.btn(href="/logout") Logout
				else
					.login.pull-right
						a.btn.btn-success(href="javascript:;") Login
						#login-dropdown.well
							form#login-form(method="post")
					
								label.control-label(for="email") Email
								input(name="email", type="email", placeholder="Email")
								label.control-label(for="password") Password
								input(name="password", type="password", placeholder="password")
								br
								button.btn.btn-success(type="submit") Login
	div.container
		.row-fluid.span12
			block content