html(ng-app)
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/page.css")
		link(rel="stylesheet", type="text/css", href="/css/reset.css")

	body
		div#header
			if user
				div.button
					a(href="/dashboard") Dashboard
				div.button
					a(href="/logout") Logout
			else
				div.button
					a(href="login") Login
				div.button
					a(href="register") Signup

		div#background
		div#title Doctopus
		div#slogan "Creating documents is easy again."
		div#footer
			div#gettingstarted
				a(href="register", id="gettingstartedbutton") Getting started
