extend ../layout

block head
	link(rel="stylesheet", type="text/css", href="/css/print.css", media="print")

block content
	h2 Edit document ##{documentId}

	div#blocks
		div.col-2
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield

		div.col-2
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield

		div.col-3
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield

		div.col-1
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield		

		div.col-4
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield

		div.col-2
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield
		div.col-2
			ul.col-actions
				li Cols:
				li: a(href='#', data-set-cols='1') 1
				li: a(href='#', data-set-cols='2') 2
				li: a(href='#', data-set-cols='3') 3
				li: a(href='#', data-set-cols='4') 4
			p.col-content Textfield

		div(style='clear:both')

block sidebar
	h2 Properties
