extend ../layout

append sidebar
	include sidebar

append content
	ul
		li.block.col_1#blockEen
			div.colContent
				ul.colActions
					li: a(href="#", class="resize") Resize
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.
			
		li.block.col_2#blockTwee
			div.colContent
				ul.colActions
					li: a(href="#", class="resize") Resize
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.
			
		li.block.col_3#blockDrie
			div.colContent
				ul.colActions
					li: a(href="#", class="resize") Resize
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.
			
		li.block.col_4#blockVier
			div.colContent
				ul.colActions
					li: a(href="#", class="resize") Resize
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.