extend ../layout

append sidebar
	include sidebar

append content
	p Content
	
	div.block.col_1
		div.colContent
			ul.colActions
				li: a(href="#", class="resize") Resize
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.
		
	div.block.col_2
		div.colContent
			ul.colActions
				li: a(href="#", class="resize") Resize
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.
		
	div.block.col_3
		div.colContent
			ul.colActions
				li: a(href="#", class="resize") Resize
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.
		
	div.block.col_4
		div.colContent
			ul.colActions
				li: a(href="#", class="resize") Resize
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales facilisis risus, ut varius leo lacinia a. Mauris iaculis congue pulvinar. Etiam metus dui, posuere ac pharetra ut, interdum in massa. Aenean a augue dolor, ac auctor ante. Cras quis mauris sit amet massa eleifend interdum laoreet non lacus. Morbi nisi tortor, ullamcorper nec venenatis sit amet, rutrum at erat. Nullam posuere ligula a felis euismod quis laoreet sapien iaculis.