extend ../layout

block head
	link(rel="stylesheet", type="text/css", href="/css/print.css", media="print")

block content
	h2 Edit document ##{documentId}

	div#blocks
		div.col-2
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield

		div.col-2
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield

		div.col-3
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield

		div.col-1
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield
		div.col-1
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield		

		div.col-4
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield

		div.col-2
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield
		div.col-2
			ul.col-actions
				li: a(href='#') Edit
				li: a(href='#', data-set-cols='1', class='col-resize') 1
				li: a(href='#', data-set-cols='2', class='col-resize') 2
				li: a(href='#', data-set-cols='3', class='col-resize') 3
				li: a(href='#', data-set-cols='4', class='col-resize') 4
			p.col-content Textfield

		div(style='clear:both')

block sidebar
	h2 Properties
	textarea(class='col-text') Textfield
	input(type='submit', value='Save', class='btn')
