div.tabbable
	ul.nav.nav-tabs
		li.active: a(href="#tab1", data-toggle="tab") Styling
		li: a(href="#tab2", data-toggle="tab") Contexts
		li: a(href="#tab3", data-toggle="tab") Blocks
	
	div.tab-content
		div.tab-pane.active(id="tab1")
			p Styling stuff goes here
		div.tab-pane(id="tab2")
			p Contexts (dunno what that is supposed to mean)
		div.tab-pane(id="tab3")
			p Blocks that can be dragged