div.tabbable
	ul.nav.nav-tabs
		li.active: a(href="#tab1", data-toggle="tab") Edit
		li: a(href="#tab2", data-toggle="tab") Styling
		li: a(href="#tab3", data-toggle="tab") Sections
	
	div.tab-content
		div.tab-pane.active(id="tab1")
			p Edit block
		div.tab-pane(id="tab2")
			p Styling stuff goes here
		div.tab-pane(id="tab3")
			p Sections